<template>
    <div class="d-flex justify-content-center align-content-center">
        <form class="col-lg-4 col-md-6 col-8 mb-4" @submit.prevent="submit">
            <div class="mb-3">
                <label for="bookName" class="form-label">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="bookName"
                    v-model="addbook.name"
                />
            </div>
            <div class="mb-3">
                <label for="bookDescription" class="form-label"
                    >Description</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="bookDescription"
                    v-model="addbook.description"
                />
            </div>
            <div class="mb-3">
                <label for="bookText" class="form-label">Text</label>
                <textarea
                    class="form-control"
                    id="bookText"
                    minlength="50"
                    v-model="addbook.text"
                ></textarea>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">File</label>
                <input
                    type="file"
                    class="form-control"
                    id="file"
                    ref="file"
                    @change="handleFileUpload()"
                />
            </div>
            <div class="mb-3">
                <label for="bookCategory" class="form-label">Category</label>
                <select
                    id="bookCategory"
                    class="form-select mb-3"
                    v-model="addbook.category"
                >
                    <option
                        v-bind:key="category.id"
                        v-for="category of getCategories"
                        :value="category['@id']"
                    >
                        {{ category.name }}
                    </option>
                </select>
            </div>

            <button
                type="submit"
                class="btn btn-outline-success w-100 rounded-5 p-2 px-5 mt-3"
            >
                Submit
            </button>
        </form>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "AddBookPage",
    computed: {
        ...mapGetters(["getCategories", "getMedia"]),
    },
    data() {
        return {
            addbook: {
                name: "",
                description: "",
                text: "",
                category: "",
            },
            file: "",
        };
    },
    methods: {
        ...mapActions(["pushBook", "pushFile", "fetchCategories"]),
        submit() {
            const formData = new FormData();
            formData.append("file", this.file);
            const bookData = {
                name: this.addbook.name,
                description: this.addbook.description,
                text: this.addbook.text,
                category: this.addbook.category,
            };
            if (this.file) {
                this.pushFile(formData)
                    .then((response) => {
                        console.log(response);
                        bookData.picture = this.getMedia;
                        return this.pushBook(bookData);
                    })
                    .then(() => {
                        this.$router.push("/");
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                console.log("media");
            } else {
                this.pushBook(bookData)
                    .then((response) => {
                        console.log(response);
                    })
                    .then(() => {
                        this.$router.push("/");
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                console.log("book");
            }
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },
    },

    mounted() {
        this.fetchCategories();
        console.log(this.addbook.category);
        console.log("addbook page ishladi");
        console.log(this.getCategories);
        console.log(this.getMedia);
    },
};
</script>

<style scoped>


</style>
