<template>
            <div class="d-flex justify-content-center align-content-center">
                <form class="col-lg-4 col-md-6 col-8 mb-4" @submit.prevent="submit">
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input
                            type="text"
                            class="form-control"
                            id="postTitle"
                            v-model="addpost.title"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="postDescription" class="form-label"
                            >Description</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="postDescription"
                            v-model="addpost.description"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label"
                            >Content</label
                        >
                        <textarea
                            class="form-control"
                            id="postContent"
                            minlength="50"
                            v-model="addpost.content"
                        ></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">File</label>
                        <input
                            type="file"
                            class="form-control"
                            id="file"
                            ref="file"
                            @change="handleFileUpload()"
                        />
                    </div>
                    <button
                        type="submit"
                        class="btn btn-outline-success w-100 rounded-5 p-2 px-5 mt-3"
                    >
                        Submit
                    </button>
                </form>
            </div>
     
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "AddPostPage",
    computed: {
        ...mapGetters(["getCategories",'getUser', "getMedia"]),
    },
    data() {
        return {
            addpost: {
                title: "",
                description: "",
                content: "",
            },
            file: "",
        };
    },
    methods: {
        ...mapActions(["pushPost", "pushFile", "fetchCategories"]),
        submit() {
            const formData = new FormData();
            formData.append("file", this.file);
            const postData = {
                title: this.addpost.title,
                description: this.addpost.description,
                content: this.addpost.content,
                user:this.getUser['@id']
            };
            if (this.file) {
                this.pushFile(formData)
                    .then((response) => {
                        console.log(response);
                        postData.picture = this.getMedia;
                        return this.pushPost(postData);
                    })
                    .then(() => {
                        this.$router.push("/blog");
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                console.log("media");
            } else {
                this.pushPost(postData)
                    .then((response) => {
                        console.log(response);
                    })
                    .then(() => {
                        this.$router.push("/blog");
                    })
                    .catch((error) => {
                        console.log(error);
                    });
                console.log("post");
            }
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },
    },

    mounted() {
        this.fetchCategories();
        console.log(this.addpost.category);
        console.log("addpost page ishladi");
        console.log(this.getCategories);
        console.log(this.getMedia);
    },
};
</script>

<style scoped></style>
