<template>
    <PostsRow />
</template>

<script>
import PostsRow from "@/components/PostsRow.vue";
import { mapActions } from "vuex";

export default {
    name: "BlogPage",
    components: {
        PostsRow,
    },
    methods: {
        ...mapActions(["fetchPosts"]),
    },
    mounted() {},
};
</script>

<style scoped></style>
