<template>
    <BooksRow />
    <PaginationRow />
</template>

<script>
import BooksRow from "@/components/BooksRow.vue";
import PaginationRow from "@/components/PaginationRow.vue";
import { mapActions } from "vuex";

export default {
    name: "CategoryBookPage",
    components: {
        PaginationRow,
        BooksRow,
    },
    computed: {},
    methods: {
        ...mapActions(["fetchBooks"]),
    },
    mounted() {},
};
</script>

<style scoped>
.page-main {
    height: 100vh;
}
</style>
