<template>
    <div class="d-flex justify-content-center align-content-center">
        <form
            v-if="addbook"
            class="col-lg-4 col-md-6 col-8 mb-4"
            @submit.prevent="edit"
        >
            <div class="mb-3">
                <label for="bookName" class="form-label">Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="bookName"
                    v-model="addbook.name"
                />
            </div>
            <div class="mb-3">
                <label for="bookDescription" class="form-label"
                    >Description</label
                >
                <input
                    type="text"
                    class="form-control"
                    id="bookDescription"
                    v-model="addbook.description"
                />
            </div>
            <div class="mb-3">
                <label for="bookText" class="form-label">Text</label>
                <textarea
                    class="form-control"
                    id="bookText"
                    v-model="addbook.text"
                >
                </textarea>
            </div>
            <div class="mb-3">
                <label for="file" class="form-label">File</label>
                <input
                    type="file"
                    class="form-control"
                    id="file"
                    ref="file"
                    @change="handleFileUpload()"
                />
            </div>
            <div class="mb-3">
                <label for="bookCategory" class="form-label">Category</label>
                <select
                    id="bookCategory"
                    class="form-select mb-3"
                    v-model="addbook.category"
                    :selected="addbook.category['@id']"
                >
                    <option
                        v-for="category of getCategories"
                        v-bind:key="category.id"
                        :value="category['@id']"
                    >
                        {{ category.name }}
                    </option>
                </select>
            </div>
            <div
                class="d-flex flex-lg-row flex-column justify-content-between mt-5"
            >
                <button
                    type="submit"
                    class="btn btn-outline-success rounded-5 mb-lg-0 mb-3 p-2 px-5 fs-5"
                >
                    Submit
                </button>
                <router-link
                    class="btn btn-outline-warning rounded-5 p-2 px-5 fs-5"
                    :to="'/book-info/' + getBook.id"
                    >Cancel
                </router-link>
            </div>
        </form>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "EditBookPage",
    computed: {
        ...mapGetters(["getCategories", "getBook", "getMedia"]),
    },
    data() {
        return {
            addbook: null,
            file: "",
        };
    },

    methods: {
        ...mapActions(["fetchBook", "editBook", "pushFile", "deleteFile"]),
        edit() {
            const formData = new FormData();
            formData.append("file", this.file);
            const bookData = {
                name: this.addbook.name,
                description: this.addbook.description,
                text: this.addbook.text,
                category: this.addbook.category,
            };
            if (this.getBook.picture) {
                if (this.file) {
                    this.bookEditWithImage(formData, bookData);
                } else {
                    this.bookEditNotImage(bookData);
                }
            } else {
                if (!this.file) {
                    this.bookEditNotImage(bookData);
                } else {
                    this.bookEditWithImage(formData, bookData);
                }
            }
        },
        bookEditNotImage(bookData) {
            this.editBook({ id: this.$route.params.bookId, data: bookData })
                .then((response) => {
                    console.log(response);
                })
                .then(() => {
                    this.$router.push(
                        "/book-info/" + this.$route.params.bookId
                    );
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        bookEditWithImage(formData, bookData) {
            this.pushFile(formData)
                .then((response) => {
                    bookData.picture = this.getMedia;
                    console.log(response);
                    return this.editBook({
                        id: this.$route.params.bookId,
                        data: bookData,
                    });
                })
                .then(() => {
                    if (this.getBook.picture) {
                        this.deleteFile(this.getBook.picture["@id"]);
                    }
                    this.$router.push(
                        "/book-info/" + this.$route.params.bookId
                    );
                })
                .catch((error) => {
                    console.log(error);
                });
            console.log("eski rasm bor yangi rasmga ozgartirish taxrir");
            console.log(this.bookData);
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },
    },
    mounted() {
        this.fetchBook(this.$route.params.bookId).then((response) => {
            console.log(response);
            this.addbook = this.getBook;
        });
        console.log("edit book page ishladi");
        console.log(this.$route.params.bookId);
        console.log(this.$route.path);
        console.log(this.getBook.category["@id"]);
    },
};
</script>

<style scoped></style>
