<template>
            <div class="d-flex justify-content-center align-content-center">
                <form v-if="addpost" class="col-lg-4 col-md-6 col-8 mb-4" @submit.prevent="edit">
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input
                            type="text"
                            class="form-control"
                            id="postTitle"
                            v-model="addpost.title"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="postDescription" class="form-label"
                            >Description</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="postDescription"
                            v-model="addpost.description"
                        />
                    </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label"
                            >Content</label
                        >
                        <textarea
                            class="form-control"
                            id="postContent"
                            v-model="addpost.content"
                        >
                        </textarea>
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label">File</label>
                        <input
                            type="file"
                            class="form-control"
                            id="file"
                            ref="file"
                            @change="handleFileUpload()"
                        />
                    </div>
                    <div
                        class="d-flex flex-lg-row flex-column justify-content-between mt-5"
                    >
                        <button
                            type="submit"
                            class="btn btn-outline-success rounded-5 mb-lg-0 mb-3 p-2 px-5 fs-5"
                        >
                            Submit
                        </button>
                        <router-link
                            class="btn btn-outline-warning rounded-5 p-2 px-5 fs-5"
                            :to="'/post-info/' + getPost.id"
                            >Cancel
                        </router-link>
                    </div>
                </form>
            </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
    name: "EditPostPage",
    computed: {
        ...mapGetters(["getCategories", "getPost", "getMedia"]),
    },
    data() {
        return {
            addpost: null,
            file: "",
        };
    },

    methods: {
        ...mapActions(["fetchPost", "editPost", "pushFile", "deleteFile"]),
        edit() {
            const formData = new FormData();
            formData.append("file", this.file);
            const postData = {
                title: this.addpost.title,
                description: this.addpost.description,
                content: this.addpost.content,
                user:this.getPost.user['@id']
            };
            if (this.getPost.picture) {
                if (this.file) {
                    this.postEditWithImage(formData, postData);
                } else {
                    this.postEditNotImage(postData);
                }
            } else {
                if (!this.file) {
                    this.postEditNotImage(postData);
                } else {
                    this.postEditWithImage(formData, postData);
                }
            }
        },
        postEditNotImage(postData) {
            this.editPost({ id: this.$route.params.postId, data: postData })
                .then((response) => {
                    console.log(response);
                })
                .then(() => {
                    this.$router.push("/post-info/" + this.$route.params.postId);
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        postEditWithImage(formData, postData) {
            this.pushFile(formData)
                .then((response) => {
                    postData.picture = this.getMedia;
                    console.log(response);
                    return this.editPost({
                        id: this.$route.params.postId,
                        data: postData,
                    });
                })
                .then(() => {
                    if (this.getPost.picture) {
                        this.deleteFile(this.getPost.picture["@id"]);
                    }
                    this.$router.push("/post-info/" + this.$route.params.postId);
                })
                .catch((error) => {
                    console.log(error);
                });
            console.log("eski rasm bor yangi rasmga ozgartirish taxrir");
            console.log(this.postData);
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
        },
    },
    mounted() {
        this.fetchPost(this.$route.params.postId).then((response) => {
            console.log(response);
            this.addpost = this.getPost;
        });
    },
};
</script>

<style scoped></style>
