<template>
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8">
                <LoaderRow v-if="isLoading" />
                <div v-else class="mb-5">
                    <div
                        v-if="
                            getUser
                                ? getUser.roles.includes('ROLE_ADMIN') || getPost.user['@id'] === getUser['@id']
                                : false
                        "
                        class="d-flex justify-content-end mb-4"
                    >
                        <router-link
                            :to="'/edit-post/' + getPost.id"
                            class="btn btn-warning rounded-5 mx-2 p-2 px-4"
                            >Edit
                        </router-link>
                        <button
                            @click="deletePostById(getPost.id)"
                            class="btn btn-danger rounded-5 p-2 px-4"
                        >
                            Delete
                        </button>
                    </div>
                    <div class="mb-4">
                        <span
                            class="text-light bg-warning p-3 rounded text-uppercase font-weight-medium"
                            >{{
                                getPost.createdAt
                                    .replace("+01:00", "")
                                    .replace("T", " ")
                            }}
                        </span>
                    </div>
                    <h1 class="section-title">{{ getPost.title }}</h1>
                    <div class="mt-4 mb-4">
                        <ImgRow class="card-img-top" :Item="getPost" />
                    </div>
                    <div>
                        <p>{{ getPost.content }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div
                    class="d-flex flex-column align-items-center text-center bg-success rounded mb-5 py-5 px-4"
                >
                    <UserImgRow class="user_image fs-1 mb-3" :Item="getPost.user" />

                    <h3 class="text-light mb-3 capitalize">
                        {{ getPost.user.firstName }}
                    </h3>
                    <p class="text-white m-0">
                        Conset elitr erat vero dolor ipsum et diam, eos dolor
                        lorem ipsum, ipsum ipsum sit no ut est. Guber ea ipsum
                        erat kasd amet est elitr ea sit.
                    </p>
                </div>
                <CategoryRow />
                <RecentsRow :Recents="getPosts" :RecentName="'Posts'" />
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import RecentsRow from "@/components/RecentsRow.vue";
import CategoryRow from "@/components/CategoryRow.vue";
import ImgRow from "@/components/ImgRow.vue";
import LoaderRow from "@/components/LoaderRow.vue";
import UserImgRow from "@/components/UserImgRow.vue";

export default {
    name: "PostInfoPage",
    components: {
        UserImgRow,
        LoaderRow,
        ImgRow,
        CategoryRow,
        RecentsRow,
    },
    data() {
        return {
            isLoading: true,
        };
    },
    computed: {
        ...mapGetters(["getPost", "getPosts", "getUser", "getCategories"]),
    },
    methods: {
        ...mapActions([
            "fetchPost",
            "fetchPosts",
            "fetchCategories",
            "deletePost",
            "deleteFile",
        ]),
        deletePostById(id) {
            this.deletePost(id)
                .then((response) => {
                    console.log(response);
                })
                .then(() => {
                    if (this.getPost.picture) {
                        this.deleteFile(this.getPost.picture["@id"]);
                    }
                    this.$router.push("/blog");
                })
                .catch((error) => {
                    console.log(error);
                });
            console.log(id);
        },
    },
    watch: {
        "$route.params.postId"() {
            console.log("id o'zgarmoqda");
            this.isLoading = true;
            this.fetchPost(this.$route.params.postId).finally(() => {
                this.isLoading = false;
            });
        },
    },
    mounted() {
        this.fetchPosts({ page: 1 });
        this.fetchPost(this.$route.params.postId).finally(() => {
            this.isLoading = false;
        });
        console.log(this.getPost);
    },
};
</script>

<style scoped>
.user_image {
    width: 100px;
    height: 100px;
    background-color: #ffc600;
    color: white;
}
.card-img-top {
    height: 600px !important;
    object-fit: cover;
}
.bg-success {
    background-color: #23a036 !important;
}
.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
    position: relative;
}
.svg {
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-parent {
    right: 0;
}
.btn-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    z-index: 0;
}

.btn-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    z-index: 3;
    cursor: pointer;
}
.comment:hover .btn-btn {
    display: block;
}
.btn-btn:active {
    transform: scale(1.2);
}
</style>
