<template>
    <img
        v-if="Item.picture"
        :src="'https://sarvar.ibrohimbek.uz' + Item.picture.contentUrl"
        class="bg-secondary-subtle rounded w-100"
        alt="Image"
    />
    <img
        v-else
        src="/img/no_image.png"
        class="bg-secondary-subtle rounded w-100"
        alt="Image"
    />
</template>
<script>
export default {
    name: "ImgRow",
    props: {
        Item: {
            type: Object,
            required: true,
        },
    },
};
</script>
<style scoped></style>
