<template>
    <LoaderRow v-if="isLoading" />

    <div v-else class="container">
        <div class="row">
            <div
                v-for="post of getPosts"
                v-bind:key="post.id"
                class="col-12 col-sm-6 col-lg-4 mb-4"
            >
                <div class="card border-0">
                    <ImgRow class="rounded-4 card-img-top" :Item="post" />

                    <div class="card-body px-0">
                        <!-- <p class="text-success fw-medium fs-5">
                            {{ post.category.name }}
                        </p> -->
                        <h5 class="card-title fw-medium m-0">
                            {{ post.title }}
                        </h5>
                        <p class="card-text text-secondary">
                            {{ post.description }}
                        </p>

                        <div class="d-flex justify-content-between">
                            <router-link
                                :to="'/post-info/' + post.id"
                                class="btn btn-outline-warning rounded-5 p-2 px-5"
                                >Read
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <PaginationRow :All="getPostTotal" @pageClick="pageClick" />
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import post from "@/plugins/vuex/post";
import LoaderRow from "@/components/LoaderRow.vue";
import ImgRow from "@/components/ImgRow.vue";
import PaginationRow from "./PaginationRow.vue";

export default {
    name: "PostsRow",
    components: {
        LoaderRow,
        PaginationRow,
        ImgRow,
    },
    data() {
        return {
            isLoading: true,
        };
    },
    computed: {
        post() {
            return post;
        },
        ...mapGetters(["getPosts", "getPostTotal", "getMedia", "getPost"]),
    },
    methods: {
        ...mapActions(["fetchPosts", "deletePost", "deleteFile"]),
        pageClick(pageNum) {
            // this.isLoading = true;
            this.fetchPosts({
                page: pageNum,
            })
                .then(() => {
                    console.log({ categoryId: this.$route.params.id });
                    console.log(this.$route.params);
                })
                .finally(() => {
                    this.isLoading = false;
                });
        },
    },
    watch: {},
    mounted() {
        console.log("PostsRow component yuklandi");
        console.log(this.getPosts);
        this.fetchPosts({page:1}).finally(() => {
            this.isLoading = false;
        });
    },
};
</script>

<style scoped>
.card-img-top {
    height: 20vw;
    object-fit: cover;
}
@media (max-width:992px){
    .card-img-top{
        height: 50vh;
    }
}
@media (max-width:576px){
    .card-img-top{
        height: 65vh;
    }
}
</style>
