<template>
    <img
        v-if="Item.avatar"
        :src="'http://localhost:8883' + Item.avatar.contentUrl"
        class="img-fluid rounded-circle cursor-pointer"
        
    />
    <span
        v-else
        class="img-fluid rounded-circle cursor-pointer d-flex justify-content-center align-items-center capitalize"
        >{{ Item.firstName.slice(0, 1) }}</span>
</template>
<script>
export default {
    name: "ImgRow",
    props: {
        Item: {
            type: Object,
            required: true,
        },
    },
};
</script>
<style scoped></style>
